/* *{
    margin: 0;
    padding: 0;
}

.main-box{
    
    background-image: url(bg.png);
    background-size: cover;
    height: 500px;
    width: 700px;
    border: 5px solid black;
    margin: auto;
    margin-top: 100px;
 
}

#block{
    height: 70px;
    width: 50px;
    background-color: brown;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    top: 430px;
    margin-left: 650px;
    animation: move 2s linear infinite;

}

.dino{
    height: 50px;
    position: relative;
    top: 375px;
   
  
}

@keyframes move {
  0%{
    left: 0px;
  }
    100%{
        left: -650px;
    }

}

#result{
    height: 50%;
    width: 20%;
    /* border: 1px solid black ; */
    /* background-color: wheat;
    text-align: center;
    position: relative;
    top: -300px;
    margin: auto;
    padding: 30px;
    display: none;
}

.button{
    margin-top: 2px;
    padding: 10px;
    border-radius: 1px;
    cursor: pointer;
} */ */

*{
    margin: 0;
    padding: 0;
}
#game{
    height: 300px;
    width: 600px;
    border: 2px solid black;
    margin: 3rem auto;
}
#block{
    height: 50px;
    width: 35px;
    background-color: blue;
    position: relative;
    top: 250px;
    left: 565px;
    /* animation: move 1s linear  infinite; */
}
#character{
    height: 80px;
    width: 40px;
    
    position: relative;
    top: 170px;

}
#character img{
    height: 73px;
    width: 70px;
}
@keyframes move {
    0%{
        left: 565px;
    }
    100%{
        left: 0px;
    }
}
#result{
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;
    margin: 3rem auto;
    text-align: center;
    border-radius: 20px;
    display: none;
}
#score{
    font-size: 2.2rem;
    color: brown;
}
#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}